<!-- your html code here -->
<div class="container">
    <div class="container-fluid mt-5 mb-5">
        <div class="row d-flex flex-row align-items-center border border-1">
            <div class="col-8 p-5">
                <div class="title d-flex flex-row">
                    <h2 class="text-black fs-2">This First Heading</h2><h2 class="text-secondary-emphasis ms-2 fs-2">Will Catch Your Eye</h2>
                </div>
                <p>
                    Walter White, un profesor de química de secundaria con cáncer terminal, se convierte en un fabricante de metanfetaminas para asegurar 
                    el futuro financiero de su familia. A medida que se adentra en el mundo del crimen, su personalidad sufre una transformación radical, 
                    pasando de ser un hombre común a un manipulador despiadado. Su viaje moral y psicológico lo lleva a enfrentarse a dilemas éticos cada 
                    vez más difíciles mientras lucha por mantener el control de su vida y su legado. A lo largo de la serie, su relación con su socio, 
                    Jesse Pinkman, y su enfrentamiento con el traficante de drogas Gus Fring añaden capas de complejidad a su carácter. La historia de 
                    Walter White en "Breaking Bad" es un fascinante estudio sobre la naturaleza humana y los límites de la moralidad.
                </p>
            </div>
            <div class="col-4 p-5">
                <img src="https://cdn.domestika.org/c_fill,dpr_1.0,f_auto,h_1200,pg_1,t_base_params,w_1200/v1390831016/project-covers/000/101/403/101403-original-WalterPaper.jpg?1390831016" 
                class="rounded-circle float-center" style="height: 300px; width: 300px;" alt="foto de perfil walter white">
            </div>
        </div>
    </div>
</div>