<!-- your html code here -->
<div class="container">
    <h2>Porfolio</h2>
    <p>Sed sit amet mauris at dolor interdum tempus. Quisque arcu sem, pharetra nec tincidunt a, finibus at felis. Suspendisse bibendum varius diam et vulputate. Suspendisse potenti. Aenean in erat eget lectus semper tincidunt. Morbi ut metus elit. Praesent rhoncus ut ex vitae accumsan. Cras quis eleifend quam, in fermentum nisl. </p>
  
    <div class="row g-4 py-5">
      
      <div class="feature col-md-4">
        <div class="card h-100">
          <img src="https://storage.googleapis.com/pod_public/1300/117979.jpg"> 
          <div class="card-body">
            <h3 class="card-title text-primary"> Project Name</h3>
            <p class="card-text">Lorem ipsum dolor sit , consectetur adipiscing elit. Mauris ultrices mauris non mollis gravida. Curabitur sit amet quam tristique, fermentum quam in, luctus urna. Curabitur fermentum dignissim ligula eu facilisis. </p>
          </div>
        </div>
      </div>
      
      <div class="feature col-md-4">
        <div class="card h-100">
          <img src="https://media.istockphoto.com/id/1463288473/es/foto/los-%C3%A1ngeles-california.jpg?s=612x612&w=0&k=20&c=X38gDmOfmxIV6qqiX7G6zV8_s61p8RdZMb6yv5BtmHg=" class="card-img-top img-fluid rounded" alt="Placeholder Image">
          <div class="card-body">
            <h3 class="card-title text-primary">Project Name</h3>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultrices mauris non mollis gravida. Curabitur sit amet quam tristique, fermentum quam in, luctus urna. Curabitur fermentum dignissim ligula eu facilisis. </p>
          </div>
        </div>
      </div>
      
      <div class="feature col-md-4">
        <div class="card h-100">
          <img src="https://www.theknickerbocker.com/content/uploads/2024/02/knb_nyc_landmarks_times_square_1138719689.webp" class="card-img-top img-fluid rounded" alt="Placeholder Image">
          <div class="card-body">
            <h3 class="card-title text-primary">Project Name</h3>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultrices mauris non mollis gravida. Curabitur sit amet quam tristique, fermentum quam in, luctus urna. Curabitur fermentum dignissim ligula eu facilisis. </p>
          </div>
        </div>
      </div>
    </div>
  </div>