<div class="container">
    <div class="container-fluid mt-5 mb-5">
        <div class="row d-flex flex-row align-items-center border border-1">
            <div class="col-4 p-5 d-flex justify-content-center">
                <div class="rounded-circle overflow-hidden enable-rounded" style="width: 300px; height: 300px;">
                    <img src="https://cdn.dribbble.com/users/2796893/screenshots/10884325/media/2a028aa20e85ee895cbfbfc9c735fc60.png" 
                    class="w-100 h-100 Jesse" style="object-fit: cover;" alt="foto de perfil walter white"> 
                </div>
            </div>
            <div class="col-8 p-5">
                <div class="title d-flex flex-row">
                    <h2 class="text-black fs-2">The Second Heading</h2><h2 class="text-secondary-emphasis ms-2 fs-2">Is Pretty Cool Too</h2>
                </div>
                <p>
                    Originally a low-level methamphetamine dealer who worked with his friend and fellow meth cook Emilio Koyama, 
                    Jesse is best known as the former business and meth cook partner of his former chemistry teacher Walter White,
                     teaming up with Walt for two years to help him manufacture chemically pure crystal methamphetamine ..
                </p>
            </div>
        </div>
    </div>
</div>